body {
  margin: 2em;
  font-family: Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 { color: #333; }
h1 {
  color: #f80;
  font-size: 1.8em;
}
h2 {
  margin-top: 2em;
  border-bottom: 1px solid #999;
}
h3 {
  color: #69c;
  font-size: 1.4em;
  margin: 2em 0 0 0;
}
code {
  margin: 0;
  padding: 1em;
  background-color: #ccc;
}
a, a:visited {
  padding: 3px 6px;
  color: #f80;
}
a:hover {
  color: #fff;
  background-color: #f80;
  text-decoration: none;
  -webkit-border-radius: 3px;
}
ul, li { line-height: 1.4em; }